* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchbar-flex-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.search-bar-container {
  width: 50%;
  margin-top: 50px;
}
