* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  background-color: #faf9f6;
}

.searchbar-flex-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 2px solid 	#505050;
  
  


}

.search-bar-container,.searchbar-flex-container,.circle-dots-flex-container,h1{
  background-color:#383838;
  
}

.search-bar-container {
  text-align: center;
  width: 50%;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 350px;
  


}





.NavBar-flex-contontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  border-bottom: 8px solid #00bfff;
  box-shadow: -1px 10px 5px 0px rgba(0,0,0,0.32);
  
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
}

li,
ul,.NavBar-flex-contontainer {
  background-color: #f5f5f5;
  
}
li {
  margin: 10px 40px;
  padding:11px 20px;
  transition: .5s;
}

li:hover {
  border: 2px solid #00bfff;
  border-radius: 10px;
  background-color: #00bfff;
  color: azure;

}

h2,li {
  margin-top: 20px;

  font-family: "Play", sans-serif;
}

h1 {
  margin-top: 0px;

  font-family: "Caveat", cursive;
  color: azure;

}

.special-span {
  color: #00bfff;
  /* background-color:	#505050; */
  background-color:#383838;
}

.logo-span{
  margin-top:20px;
  margin-left:  40px;
  margin-right: 10px;
  font-size: large;
  background-color: #faf9f6;
  height: 20px;
  border-bottom:3px solid black;
}
.circle-dots-flex-container{
  display: flex;
  justify-content: center;

}
.circle-dots{
  border: 2px solid #00bfff;
  background-color: #00bfff;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin: 0 10px;
}

.RecipeList-container h1{
  background-color: azure;
  color:#383838;
  width:80%;
  margin: 0 auto;
  margin-top: 100px;
 text-align: center;
  font-family: "Play", sans-serif;
}

.RecipeList-flex-container{

}

.card-parent-container{
  border: 2px solid #383838;
  background-color:#faf9f6;;
padding: 2px;
padding-left: 3px;
width:fit-content;
margin: 0 100px;

}

.recipe-label h3{
  border: 2px solid #383838;
  background-color:#383838;

  width: 125px;
  text-align: center;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 8px;
  font-family: "Caveat", cursive;
  text-transform: uppercase;
  color: #00bfff;

}

.flex-parent-card{
  display:flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.fave-icon{
  font-size: 30px;
  margin-left: 10px;
  color:pink;
}

.fave-icon:hover{
  color: red;

}

